:root {
  --amaranth: #ee2b4e;
  --silver-chalice: #aaaaaa;
  --alto: #dddddd;
  --white: #ffffff;
  --black: #000000;

  --primary-color: var(--amaranth);
  --secondary-text-color: var(--silver-chalice);

  --separator: var(--alto);
}